/* src/index.css */
:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light; /* Força o modo claro */
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Garante que o site ocupe a tela toda */
body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #f4f6f8;
}

/* Remove a limitação de largura do React */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}